:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* colors 
hsl(174, 77%, 80%)
  hsl(174, 86%, 45%)
  hsl(14, 92%, 95%)
  hsl(226, 100%, 87%)
  hsl
  (0, 0%, 100%)
  hsl(230, 100%, 99%)
  hsl(224, 65%, 95%)
  hsl(223, 50%, 87%)
  hsl(225, 20%, 60%)
  hsl(227, 35%, 25%)*/

/* 15px */
